@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');


.quicksand-font {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight:800;
  font-style: normal;
}

/* shared-style */

/* header-style */
.logo-box{
    display: flex;
}
.logo-img{
    width:60px;
    height: 62px;
    /* margin-top: 20px; */
}

.head-container{
    display: flex;
    justify-content: space-around;
    margin: 20px 110px;
    /* padding: 20px 140px; */
    
}

.ancor-list{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    list-style: none;

    
    
}
nav>ul>li{
    justify-content: center;
    margin:0px 32px;  
    align-items: center;
   }
.btn-1{

    font-size: 20px;
    font-weight: 400;
    color: white;
    padding: 16px 60px;
    background-color: rgba(254, 163, 1, 1);
    border-radius: 12px;
    border: none;
    /* margin-top: 26px; */
}
.logo-title{
    font-size: 32px;
    font-weight: 700;
    margin: 17px 0px 15px 13px;
}
#list-1{
    font-size: 20px;
    color: rgba(254, 163, 1, 1);
    
}
#list-2{
    font-size: 20px;
    color: rgba(1, 172, 253, 1);
}
#list-3{
    font-size: 20px;
    color: rgba(5, 212, 223, 1);
}
#list-4{
    font-size: 20px;
    color: rgba(93, 88, 239, 1);
}
.border{
    border: 2px solid orange;
}

/* Header design-2 */

.header-container{
    display: flex;
    justify-content: space-around;
    margin: 50px 140px 50px 141px;
    
}
.header-conytent{
    text-align: left;
    justify-content: left;
    margin: 122px 50px 122px 0px;
    
}

    

.header-title{
    font-size: 56px;
    font-weight: 700;
    /* line-height: 61px; */
}
.span-1{
    color: rgba(254, 163, 1, 1);
}
.span-2{
    color: rgba(1, 172, 253, 1);
}
.header-description{
    font-size: 20px;
    font-weight: 400;
    color: rgba(17, 17, 17, 1);
    margin: 24px 0;
}
.btn-2{
    font-size: 20px;
    font-weight: 700;
    border-radius: 12px;
    padding: 10px  47px;
    color: white;
    background-color:rgba(17, 17, 17, 1);
    border: none;
}
/* .img-2{
    width:467px;
    height: 575px;
} */


/* body part 1 */


/* main-part-1 */

.box-content{
    display: flex;
}
.box-title{
    display: flex;
    text-align: center;
    justify-content: center;
    font-size: 46px;
    font-weight: 700;
}
.box{
    width: 367px;
    height: 476px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 18px;
    box-shadow:inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
    margin-left: 28px;
}
.box-content{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 80px 140px 80px 140px ;
}
.box-1-title{
    font-size: 24px;
    font-weight: 700;
    color: rgba(32, 32, 32, 1);
}
.box-1-description{
    font-size: 15px;
    font-weight: 400;
    color: rgba(128, 128, 128, 1);
}
.btn{
    border: none;
    background-color:white;
    font-size: 16px;
    font-weight: 700;
}
.b-1{
    color: rgba(100, 200, 255, 1);

}
.b-2{
    color: rgba(240, 170, 0, 1);
}
.b-3{
    color: rgba(135, 0, 255, 1);
}
.box-1{


    background: linear-gradient(180.00deg, rgb(238, 225, 255),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
    

    
}
.box-2{
    background: linear-gradient(180.00deg, rgb(255, 244, 220),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
}
.box-3{
    
    background: linear-gradient(180.00deg, rgb(238, 225, 255),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
}
.elebetor{
    display: flex;
    text-align: center;
    justify-content: center;
    margin-left: 10px;
    
    
    

}
.elet-1{
    font-size: 24px;
    background-color: orange;
    border-radius: 30px;
    border: none;
    color: white;
    padding: 18px 22px;
    
}
.elet-2{
    font-size: 24px;
    background-color: orange;
    border-radius: 30px;
    border: none;
    color: white;
    padding: 18px 22px;
    margin-left: 10px;
}
.box-container{
    background-image: url('bg.png');
}

/* section-3 */
.container{
   display:grid;
   grid-template-columns: repeat(2 ,1fr);
}
.child-container{
    display: flex;
}
.container-title{
    display: flex;
    justify-content: center;
    align-items: center;
}
.bg-color{
    background: url(image),linear-gradient(0.00deg, rgba(254, 163, 1, 0.3),rgba(255, 255, 255, 0.3) 100%);
}
/* .child-content-1{
    width: 541px;
    height: 630px;
}
.child-content{
    width: 291px;
    height: 302px;
} */

    

@media screen and (max-width:576px) {
    .header-container{
        flex-direction:column-reverse;
        /* justify-content: center; */
        align-items: center;
        margin: 8px 17px;
    }
    
    .header-conytent{
        text-align: center;
    }


    .header-title{
        font-size: 32px;
        font-weight: 700;
        
    }
    .header-description{
        font-size: 16px;
    }
    .btn-2{
        font-size: 16px;
        padding: 6px 24px;
    }
    .logo-title, .ancor-list, .class-button{
        display: none;
    }
    .list{
        width: 30px;
        height: 3px;
        background-color: black;
        margin: 3px 0;

    }
    .list-box{
        margin-top: 15px;
    }
    .head-container {
        /* display: flex; */
        justify-content: space-between;
        margin: 0;
        padding: 12px 16px;
        border-bottom: 2px solid orange;
    }
    
    .logo-img{
        width:46px;
        height:46px;
        margin: 3px 0;
    }
    .box-content{
        flex-direction: column;
    }

    .box{
        
        margin: 10px 0;
        /* padding: 36px 36px; */
        width: 357px;
        height: 322px;
        /* justify-content: center; */
        /* align-items: center; */
        /* text-align: center; */
    }
    .box-1-title{
        font-size: 16px;
    }
    .box-1-description{
        font-size: 10px;
    }
    .btn{
        /* display: block; */
        font-size: 10px;
    }
    .elebetor{
        display: none;
    }
    .box-title{
        font-size: 26px;
        margin: 40px 64px 20px 64px;
    }
    .img-2{
        
    }
    


    
    
}

